body {
    display: grid;
	margin: 0;
	padding: 0;
    grid-template-rows: repeat(10, 10vh);
    grid-template-columns: repeat(1, 100vw);
    font-family: Georgia;

}

header, main, footer {
	display: grid;
    width: 100%;
}

header, footer {
    background-color: rgb(66, 71, 84);
}

header {
    grid-row-start: 1;
    grid-row-end: 1;
}

main {
    grid-row-start: 2;
    grid-row-end: 10;
    background-image: url(6.jpg);
    background-size: 100% 100%;
}

footer {
    grid-row-start: 10;
    grid-row-end: 10;
}

.fun-hover {
  background-image: -webkit-linear-gradient(left, rgb(66, 71, 84)  50%, rgb(7, 122, 153) 50%);
  background-image: linear-gradient(to right, rgb(66, 71, 84) 50%, rgb(7, 122, 153) 50%);
  background-position: 0;
  background-size: 200%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: rgb(238, 213, 174);
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
}
.fun-hover:hover {
  background-position: -100%;
}

.arr {
    font-size: 34px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 50%;
    background-color: rgb(238, 213, 174);
    color: rgb(66, 71, 84);
    border: 0px;
}

.maintext {
    font-size: 22px;
    color: rgb(238, 213, 174);
    text-align: justify;
    margin-left: 0px;
    margin-top: 230px;
}